body {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #FFCACA;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #ffc0c0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #ffc0c0;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(201,161,221,1) 98%);
  padding-top: 120px;

}

.middle-container {
    background-color: #251B37;

}

.bottom-container {
  background-color: rgba(201,161,221,1);
  padding: 50px 0 20px;
}

.footer-link {
  color: #251B37;
}

.skill-row {
  width: 50%;
  margin: 150px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.mountain-img {
  margin-top: 220px;
  margin-bottom: -5px
      }

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.des-img {
  width: 20%;
  height: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 25%;
}

.padel-img {
  width: 20%;
  height: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 25%;
}

.bra-img {
border-radius: 75%;
padding-top: 150px;

}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #251B37;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffc0c0, #ffc0c0);
  background-image: -moz-linear-gradient(top, #ffc0c0, #ffc0c0);
  background-image: -ms-linear-gradient(top, #ffc0c0, #ffc0c0);
  background-image: -o-linear-gradient(top, #ffc0c0, #ffc0c0);
  background-image: linear-gradient(to bottom, #ffffff, #251B37);
  text-decoration: none;
}
